DiversityPhone.ServiceReference/Service References/DiversityService/DiversityService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentURI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCredentials" nillable="true" type="tns:UserCredentials" />
  <xs:simpleType name="TermList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TaxonomicGroups" />
      <xs:enumeration value="RelationshipTypes" />
      <xs:enumeration value="Circumstances" />
      <xs:enumeration value="EventImageTypes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TermList" nillable="true" type="tns:TermList" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
</xs:schema>