DiversityPhone/Service References/Service/DiversityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiversityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiversityService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiversityService_GetProjectsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsForUser" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetProjectsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetTaxonListsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxonListsForUser" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetTaxonListsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxonListsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetStandardVocabulary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardVocabulary" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetStandardVocabulary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardVocabularyResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_DownloadTaxonList_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadTaxonList" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_DownloadTaxonList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadTaxonListResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetSeriesByDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeriesByDescription" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetSeriesByDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeriesByDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_AllEventSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:AllEventSeries" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_AllEventSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllEventSeriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiversityService">
    <wsdl:operation name="GetProjectsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetProjectsForUser" message="tns:IDiversityService_GetProjectsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetProjectsForUserResponse" message="tns:IDiversityService_GetProjectsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaxonListsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetTaxonListsForUser" message="tns:IDiversityService_GetTaxonListsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetTaxonListsForUserResponse" message="tns:IDiversityService_GetTaxonListsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardVocabulary">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetStandardVocabulary" message="tns:IDiversityService_GetStandardVocabulary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetStandardVocabularyResponse" message="tns:IDiversityService_GetStandardVocabulary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTaxonList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/DownloadTaxonList" message="tns:IDiversityService_DownloadTaxonList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/DownloadTaxonListResponse" message="tns:IDiversityService_DownloadTaxonList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeriesByDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetSeriesByDescription" message="tns:IDiversityService_GetSeriesByDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetSeriesByDescriptionResponse" message="tns:IDiversityService_GetSeriesByDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllEventSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/AllEventSeries" message="tns:IDiversityService_AllEventSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/AllEventSeriesResponse" message="tns:IDiversityService_AllEventSeries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiversityService" type="tns:IDiversityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjectsForUser">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetProjectsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonListsForUser">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetTaxonListsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandardVocabulary">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetStandardVocabulary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTaxonList">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/DownloadTaxonList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeriesByDescription">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetSeriesByDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllEventSeries">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/AllEventSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiversityService">
    <wsdl:port name="BasicHttpBinding_IDiversityService" binding="tns:BasicHttpBinding_IDiversityService">
      <soap:address location="http://localhost:7091/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>