DiversityPhone/Service References/Service/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" />
  <xs:element name="GetProjectsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="user" nillable="true" type="q1:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="GetProjectsForUserResult" nillable="true" type="q2:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonListsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="user" nillable="true" type="q3:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonListsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="GetTaxonListsForUserResult" nillable="true" type="q4:ArrayOfTermList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardVocabulary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardVocabularyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="GetStandardVocabularyResult" nillable="true" type="q5:ArrayOfTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTaxonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="list" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTaxonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="DownloadTaxonListResult" nillable="true" type="q6:ArrayOfTaxonName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesByDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesByDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="GetSeriesByDescriptionResult" nillable="true" type="q7:ArrayOfEventSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllEventSeries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllEventSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="AllEventSeriesResult" nillable="true" type="q8:ArrayOfEventSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>