DiversityPhone/Service References/Service/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfTermList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TermList" nillable="true" type="tns:TermList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTermList" nillable="true" type="tns:ArrayOfTermList" />
  <xs:complexType name="TermList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TermList" nillable="true" type="tns:TermList" />
  <xs:complexType name="ArrayOfTerm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Term" nillable="true" type="tns:Term" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerm" nillable="true" type="tns:ArrayOfTerm" />
  <xs:complexType name="Term">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Term" nillable="true" type="tns:Term" />
  <xs:complexType name="ArrayOfTaxonName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxonName" nillable="true" type="tns:TaxonName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxonName" nillable="true" type="tns:ArrayOfTaxonName" />
  <xs:complexType name="TaxonName">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenusOrSupragenic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfraspecificEpithet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpeciesEpithet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxonNameCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxonNameSinAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxonName" nillable="true" type="tns:TaxonName" />
  <xs:complexType name="ArrayOfEventSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSeries" nillable="true" type="tns:EventSeries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSeries" nillable="true" type="tns:ArrayOfEventSeries" />
  <xs:complexType name="EventSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsModified" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeriesCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSeries" nillable="true" type="tns:EventSeries" />
</xs:schema>