DiversityPhone/Service References/MapServiceReference/MapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bsm5.snsb.info:1111/MapService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bsm5.snsb.info:1111/MapService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bsm5.snsb.info:1111/MapService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMapService_GetMapList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapList" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapListFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListFilter" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapListFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapListCoords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListCoords" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapListCoords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListCoordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapUrl" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetMapUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetXmlUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlUrl" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetXmlUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IMapService">
    <wsdl:operation name="GetMapList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetMapList" message="tns:IMapService_GetMapList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetMapListResponse" message="tns:IMapService_GetMapList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapListFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetMapListFilter" message="tns:IMapService_GetMapListFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetMapListFilterResponse" message="tns:IMapService_GetMapListFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapListCoords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetMapListCoords" message="tns:IMapService_GetMapListCoords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetMapListCoordsResponse" message="tns:IMapService_GetMapListCoords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetMapUrl" message="tns:IMapService_GetMapUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetMapUrlResponse" message="tns:IMapService_GetMapUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetXmlUrl" message="tns:IMapService_GetXmlUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetXmlUrlResponse" message="tns:IMapService_GetXmlUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMapService" type="tns:IMapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMapList">
      <soap:operation soapAction="http://tempuri.org/IMapService/GetMapList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapListFilter">
      <soap:operation soapAction="http://tempuri.org/IMapService/GetMapListFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapListCoords">
      <soap:operation soapAction="http://tempuri.org/IMapService/GetMapListCoords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapUrl">
      <soap:operation soapAction="http://tempuri.org/IMapService/GetMapUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlUrl">
      <soap:operation soapAction="http://tempuri.org/IMapService/GetXmlUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapService">
    <wsdl:port name="BasicHttpBinding_IMapService" binding="tns:BasicHttpBinding_IMapService">
      <soap:address location="http://bsm5.snsb.info:1111/MapService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>