DiversityService.Test/Service References/ServiceReference/DiversityService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiversityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://169.254.80.80:7091/DiversityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://169.254.80.80:7091/DiversityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://169.254.80.80:7091/DiversityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" />
      <xsd:import schemaLocation="http://169.254.80.80:7091/DiversityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DiversityService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiversityService_GetStandardVocabulary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardVocabulary" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetStandardVocabulary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardVocabularyResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositories" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetQualifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQualifications" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetQualifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQualificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetProjectsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsForUser" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetProjectsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetAnalysisTaxonomicGroupsForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisTaxonomicGroupsForProject" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetAnalysisTaxonomicGroupsForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisTaxonomicGroupsForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetAnalysesForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysesForProject" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetAnalysesForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysesForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetAnalysisResultsForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisResultsForProject" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetAnalysisResultsForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisResultsForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertEventSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventSeries" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertEventSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEvent" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertSpecimen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSpecimen" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertSpecimen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSpecimenResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertIdentificationUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIdentificationUnit" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertIdentificationUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIdentificationUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertMMO_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMMO" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertMMO_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMMOResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_EventSeriesByID_InputMessage">
    <wsdl:part name="parameters" element="tns:EventSeriesByID" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_EventSeriesByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventSeriesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_LocalizationsForSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalizationsForSeries" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_LocalizationsForSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalizationsForSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_EventsByLocality_InputMessage">
    <wsdl:part name="parameters" element="tns:EventsByLocality" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_EventsByLocality_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventsByLocalityResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_PropertiesForEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PropertiesForEvent" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_PropertiesForEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PropertiesForEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_SpecimenForEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SpecimenForEvent" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_SpecimenForEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpecimenForEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_UnitsForSpecimen_InputMessage">
    <wsdl:part name="parameters" element="tns:UnitsForSpecimen" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_UnitsForSpecimen_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnitsForSpecimenResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_SubUnitsForIU_InputMessage">
    <wsdl:part name="parameters" element="tns:SubUnitsForIU" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_SubUnitsForIU_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubUnitsForIUResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_AnalysesForIU_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalysesForIU" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_AnalysesForIU_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalysesForIUResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetTaxonListsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxonListsForUser" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetTaxonListsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxonListsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_DownloadTaxonList_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadTaxonList" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_DownloadTaxonList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadTaxonListResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetPropertiesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesForUser" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetPropertiesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_DownloadPropertyNames_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPropertyNames" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_DownloadPropertyNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPropertyNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiversityService">
    <wsdl:operation name="GetStandardVocabulary">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetStandardVocabulary" message="tns:IDiversityService_GetStandardVocabulary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetStandardVocabularyResponse" message="tns:IDiversityService_GetStandardVocabulary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetUserInfo" message="tns:IDiversityService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetUserInfoResponse" message="tns:IDiversityService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetRepositories" message="tns:IDiversityService_GetRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetRepositoriesResponse" message="tns:IDiversityService_GetRepositories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQualifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetQualifications" message="tns:IDiversityService_GetQualifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetQualificationsResponse" message="tns:IDiversityService_GetQualifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetProjectsForUser" message="tns:IDiversityService_GetProjectsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetProjectsForUserResponse" message="tns:IDiversityService_GetProjectsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisTaxonomicGroupsForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetAnalysisTaxonomicGroupsForProject" message="tns:IDiversityService_GetAnalysisTaxonomicGroupsForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetAnalysisTaxonomicGroupsForProjectResponse" message="tns:IDiversityService_GetAnalysisTaxonomicGroupsForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalysesForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetAnalysesForProject" message="tns:IDiversityService_GetAnalysesForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetAnalysesForProjectResponse" message="tns:IDiversityService_GetAnalysesForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisResultsForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetAnalysisResultsForProject" message="tns:IDiversityService_GetAnalysisResultsForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetAnalysisResultsForProjectResponse" message="tns:IDiversityService_GetAnalysisResultsForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEventSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/InsertEventSeries" message="tns:IDiversityService_InsertEventSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/InsertEventSeriesResponse" message="tns:IDiversityService_InsertEventSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/InsertEvent" message="tns:IDiversityService_InsertEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/InsertEventResponse" message="tns:IDiversityService_InsertEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSpecimen">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/InsertSpecimen" message="tns:IDiversityService_InsertSpecimen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/InsertSpecimenResponse" message="tns:IDiversityService_InsertSpecimen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertIdentificationUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/InsertIdentificationUnit" message="tns:IDiversityService_InsertIdentificationUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/InsertIdentificationUnitResponse" message="tns:IDiversityService_InsertIdentificationUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMMO">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/InsertMMO" message="tns:IDiversityService_InsertMMO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/InsertMMOResponse" message="tns:IDiversityService_InsertMMO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventSeriesByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/EventSeriesByID" message="tns:IDiversityService_EventSeriesByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/EventSeriesByIDResponse" message="tns:IDiversityService_EventSeriesByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalizationsForSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/LocalizationsForSeries" message="tns:IDiversityService_LocalizationsForSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/LocalizationsForSeriesResponse" message="tns:IDiversityService_LocalizationsForSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventsByLocality">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/EventsByLocality" message="tns:IDiversityService_EventsByLocality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/EventsByLocalityResponse" message="tns:IDiversityService_EventsByLocality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PropertiesForEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/PropertiesForEvent" message="tns:IDiversityService_PropertiesForEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/PropertiesForEventResponse" message="tns:IDiversityService_PropertiesForEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpecimenForEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/SpecimenForEvent" message="tns:IDiversityService_SpecimenForEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/SpecimenForEventResponse" message="tns:IDiversityService_SpecimenForEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnitsForSpecimen">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/UnitsForSpecimen" message="tns:IDiversityService_UnitsForSpecimen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/UnitsForSpecimenResponse" message="tns:IDiversityService_UnitsForSpecimen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubUnitsForIU">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/SubUnitsForIU" message="tns:IDiversityService_SubUnitsForIU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/SubUnitsForIUResponse" message="tns:IDiversityService_SubUnitsForIU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalysesForIU">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/AnalysesForIU" message="tns:IDiversityService_AnalysesForIU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/AnalysesForIUResponse" message="tns:IDiversityService_AnalysesForIU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaxonListsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetTaxonListsForUser" message="tns:IDiversityService_GetTaxonListsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetTaxonListsForUserResponse" message="tns:IDiversityService_GetTaxonListsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTaxonList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/DownloadTaxonList" message="tns:IDiversityService_DownloadTaxonList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/DownloadTaxonListResponse" message="tns:IDiversityService_DownloadTaxonList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetPropertiesForUser" message="tns:IDiversityService_GetPropertiesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetPropertiesForUserResponse" message="tns:IDiversityService_GetPropertiesForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPropertyNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/DownloadPropertyNames" message="tns:IDiversityService_DownloadPropertyNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/DownloadPropertyNamesResponse" message="tns:IDiversityService_DownloadPropertyNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiversityService" type="tns:IDiversityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStandardVocabulary">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetStandardVocabulary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetRepositories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQualifications">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetQualifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsForUser">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetProjectsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisTaxonomicGroupsForProject">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetAnalysisTaxonomicGroupsForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalysesForProject">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetAnalysesForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisResultsForProject">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetAnalysisResultsForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEventSeries">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/InsertEventSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/InsertEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSpecimen">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/InsertSpecimen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIdentificationUnit">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/InsertIdentificationUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMMO">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/InsertMMO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventSeriesByID">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/EventSeriesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocalizationsForSeries">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/LocalizationsForSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventsByLocality">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/EventsByLocality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropertiesForEvent">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/PropertiesForEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecimenForEvent">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/SpecimenForEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnitsForSpecimen">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/UnitsForSpecimen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubUnitsForIU">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/SubUnitsForIU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysesForIU">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/AnalysesForIU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonListsForUser">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetTaxonListsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTaxonList">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/DownloadTaxonList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesForUser">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetPropertiesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPropertyNames">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/DownloadPropertyNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiversityService">
    <wsdl:port name="BasicHttpBinding_IDiversityService" binding="tns:BasicHttpBinding_IDiversityService">
      <soap:address location="http://169.254.80.80:7091/DiversityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>