DiversityService.Test/Service References/ServiceReference/DiversityService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://169.254.80.80:7091/DiversityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" />
  <xs:import schemaLocation="http://169.254.80.80:7091/DiversityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DiversityService.Model" />
  <xs:element name="GetStandardVocabulary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q1:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardVocabularyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetStandardVocabularyResult" nillable="true" type="q2:ArrayOfTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q3:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q4:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q5:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetRepositoriesResult" nillable="true" type="q6:ArrayOfRepository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q7:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetQualificationsResult" nillable="true" type="q8:ArrayOfQualification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q9:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="GetProjectsForUserResult" nillable="true" type="q10:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisTaxonomicGroupsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q11:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisTaxonomicGroupsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetAnalysisTaxonomicGroupsForProjectResult" nillable="true" type="q12:ArrayOfAnalysisTaxonomicGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysesForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q13:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysesForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetAnalysesForProjectResult" nillable="true" type="q14:ArrayOfAnalysis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisResultsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q15:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisResultsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetAnalysisResultsForProjectResult" nillable="true" type="q16:ArrayOfAnalysisResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="series" nillable="true" type="q17:EventSeries" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="localizations" nillable="true" type="q18:ArrayOfLocalization" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q19:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEventSeriesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="ev" nillable="true" type="q20:Event" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="properties" nillable="true" type="q21:ArrayOfEventProperty" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q22:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="s" nillable="true" type="q23:Specimen" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q24:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSpecimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSpecimenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIdentificationUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="iu" nillable="true" type="q25:IdentificationUnit" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="analyses" nillable="true" type="q26:ArrayOfIdentificationUnitAnalysis" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q27:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIdentificationUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertIdentificationUnitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMMO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="mmo" nillable="true" type="q28:MultimediaObject" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="cred" nillable="true" type="q29:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMMOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventSeriesByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionSeriesID" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q30:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventSeriesByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="EventSeriesByIDResult" nillable="true" type="q31:EventSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalizationsForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionSeriesID" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q32:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalizationsForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="LocalizationsForSeriesResult" nillable="true" type="q33:ArrayOfLocalization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventsByLocality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locality" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q34:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventsByLocalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="EventsByLocalityResult" nillable="true" type="q35:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertiesForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionEventID" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q36:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertiesForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="PropertiesForEventResult" nillable="true" type="q37:ArrayOfEventProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecimenForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionEventID" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q38:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecimenForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="SpecimenForEventResult" nillable="true" type="q39:ArrayOfSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnitsForSpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionSpecimenID" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q40:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnitsForSpecimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="UnitsForSpecimenResult" nillable="true" type="q41:ArrayOfIdentificationUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubUnitsForIU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionUnitID" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q42:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubUnitsForIUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="SubUnitsForIUResult" nillable="true" type="q43:ArrayOfIdentificationUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalysesForIU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionUnitID" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q44:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalysesForIUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="AnalysesForIUResult" nillable="true" type="q45:ArrayOfIdentificationUnitAnalysis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonListsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q46:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonListsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetTaxonListsForUserResult" nillable="true" type="q47:ArrayOfTaxonList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTaxonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="list" nillable="true" type="q48:TaxonList" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q49:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTaxonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="DownloadTaxonListResult" nillable="true" type="q50:ArrayOfTaxonName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q51:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetPropertiesForUserResult" nillable="true" type="q52:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadPropertyNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="p" nillable="true" type="q53:Property" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DiversityPhone.Model" minOccurs="0" name="login" nillable="true" type="q54:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadPropertyNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="DownloadPropertyNamesResult" nillable="true" type="q55:ArrayOfPropertyValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>