DiversityService.Test/Service References/ServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DiversityService.Model" />
  <xs:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DiversityCollection" />
  <xs:element name="GetStandardVocabulary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardVocabularyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetStandardVocabularyResult" nillable="true" type="q1:ArrayOfTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q2:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q3:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q4:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetRepositoriesResult" nillable="true" type="q5:ArrayOfRepository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q6:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetProjectsForUserResult" nillable="true" type="q7:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisTaxonomicGroupsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q8:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisTaxonomicGroupsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetAnalysisTaxonomicGroupsForProjectResult" nillable="true" type="q9:ArrayOfAnalysisTaxonomicGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysesForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q10:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysesForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetAnalysesForProjectResult" nillable="true" type="q11:ArrayOfAnalysis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisResultsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q12:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisResultsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetAnalysisResultsForProjectResult" nillable="true" type="q13:ArrayOfAnalysisResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="series" nillable="true" type="q14:ArrayOfEventSeries" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q15:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InsertEventSeriesResult" nillable="true" type="q16:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGeographyIntoSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seriesID" type="xs:int" />
        <xs:element minOccurs="0" name="geostring" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q17:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGeographyIntoSeriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="hierarchy" nillable="true" type="q18:HierarchySection" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="cred" nillable="true" type="q19:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="InsertHierarchyResult" nillable="true" type="q20:KeyProjection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonListsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q21:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonListsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetTaxonListsForUserResult" nillable="true" type="q22:ArrayOfTaxonList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTaxonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="list" nillable="true" type="q23:TaxonList" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q24:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTaxonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="DownloadTaxonListResult" nillable="true" type="q25:ArrayOfTaxonName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q26:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="GetPropertiesForUserResult" nillable="true" type="q27:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadPropertyNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="p" nillable="true" type="q28:Property" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="login" nillable="true" type="q29:UserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadPropertyNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="DownloadPropertyNamesResult" nillable="true" type="q30:ArrayOfPropertyName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLStandardVocabulary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLStandardVocabularyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXMLStandardVocabularyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesForAndroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesForAndroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEventSeriesForAndroidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesForAndroidVIntES">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="es" nillable="true" type="q31:EventSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesForAndroidVIntESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEventSeriesForAndroidVIntESResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesForAndroidVESES">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="es" nillable="true" type="q32:EventSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventSeriesForAndroidVESESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DiversityCollection" minOccurs="0" name="InsertEventSeriesForAndroidVESESResult" nillable="true" type="q33:CollectionEventSery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSeriesForAndroid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSeriesForAndroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DiversityService.Model" minOccurs="0" name="TestSeriesForAndroidResult" nillable="true" type="q34:EventSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>