DiversityPhone.ServiceReference/Service References/PhoneMediaService/PhoneMediaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneMediaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mediaservice.snsb.info:1111/PhoneMediaService2/PhoneMediaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mediaservice.snsb.info:1111/PhoneMediaService2/PhoneMediaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mediaservice.snsb.info:1111/PhoneMediaService2/PhoneMediaService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneMediaService_GetMapList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapList" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapListFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListFilter" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapListFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapListCoords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListCoords" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapListCoords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapListCoordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapUrl" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetMapUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetXmlUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlUrl" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_GetXmlUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_BeginTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginTransaction" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_BeginTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_EncodeFile_InputMessage">
    <wsdl:part name="parameters" element="tns:EncodeFile" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_EncodeFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncodeFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_Commit_InputMessage">
    <wsdl:part name="parameters" element="tns:Commit" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_Commit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_Rollback_InputMessage">
    <wsdl:part name="parameters" element="tns:Rollback" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_Rollback_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollbackResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="IPhoneMediaService_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhoneMediaService">
    <wsdl:operation name="GetMapList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapList" message="tns:IPhoneMediaService_GetMapList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapListResponse" message="tns:IPhoneMediaService_GetMapList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapListFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapListFilter" message="tns:IPhoneMediaService_GetMapListFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapListFilterResponse" message="tns:IPhoneMediaService_GetMapListFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapListCoords">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapListCoords" message="tns:IPhoneMediaService_GetMapListCoords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapListCoordsResponse" message="tns:IPhoneMediaService_GetMapListCoords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapUrl" message="tns:IPhoneMediaService_GetMapUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/GetMapUrlResponse" message="tns:IPhoneMediaService_GetMapUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/GetXmlUrl" message="tns:IPhoneMediaService_GetXmlUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/GetXmlUrlResponse" message="tns:IPhoneMediaService_GetXmlUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/BeginTransaction" message="tns:IPhoneMediaService_BeginTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/BeginTransactionResponse" message="tns:IPhoneMediaService_BeginTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncodeFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/EncodeFile" message="tns:IPhoneMediaService_EncodeFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/EncodeFileResponse" message="tns:IPhoneMediaService_EncodeFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Commit">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/Commit" message="tns:IPhoneMediaService_Commit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/CommitResponse" message="tns:IPhoneMediaService_Commit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/Rollback" message="tns:IPhoneMediaService_Rollback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/RollbackResponse" message="tns:IPhoneMediaService_Rollback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneMediaService/Submit" message="tns:IPhoneMediaService_Submit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneMediaService/SubmitResponse" message="tns:IPhoneMediaService_Submit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneMediaService" type="tns:IPhoneMediaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMapList">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/GetMapList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapListFilter">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/GetMapListFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapListCoords">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/GetMapListCoords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapUrl">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/GetMapUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlUrl">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/GetXmlUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginTransaction">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/BeginTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncodeFile">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/EncodeFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Commit">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/Commit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/Rollback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://tempuri.org/IPhoneMediaService/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneMediaService">
    <wsdl:port name="BasicHttpBinding_IPhoneMediaService" binding="tns:BasicHttpBinding_IPhoneMediaService">
      <soap:address location="http://mediaservice.snsb.info:1111/PhoneMediaService2/PhoneMediaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>