DiversityPhone/Service References/DiversityService/DiversityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiversityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiversityService" />
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiversityService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetSpecimensForEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecimensForEvent" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_GetSpecimensForEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecimensForEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertIU_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIU" />
  </wsdl:message>
  <wsdl:message name="IDiversityService_InsertIU_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIUResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiversityService">
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetEvents" message="tns:IDiversityService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetEventsResponse" message="tns:IDiversityService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/AddEvent" message="tns:IDiversityService_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/AddEventResponse" message="tns:IDiversityService_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecimensForEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/GetSpecimensForEvent" message="tns:IDiversityService_GetSpecimensForEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/GetSpecimensForEventResponse" message="tns:IDiversityService_GetSpecimensForEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertIU">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiversityService/InsertIU" message="tns:IDiversityService_InsertIU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiversityService/InsertIUResponse" message="tns:IDiversityService_InsertIU_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiversityService" type="tns:IDiversityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecimensForEvent">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/GetSpecimensForEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIU">
      <soap:operation soapAction="http://tempuri.org/IDiversityService/InsertIU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiversityService">
    <wsdl:port name="BasicHttpBinding_IDiversityService" binding="tns:BasicHttpBinding_IDiversityService">
      <soap:address location="http://localhost:7091/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>