DiversityPhone/Service References/DiversityService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7091/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiversityService" />
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiversityService" minOccurs="0" name="GetEventsResult" nillable="true" type="q1:ArrayOfCollectionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiversityService" minOccurs="0" name="ev" nillable="true" type="q2:CollectionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecimensForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiversityService" minOccurs="0" name="ev" nillable="true" type="q3:CollectionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecimensForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiversityService" minOccurs="0" name="GetSpecimensForEventResult" nillable="true" type="q4:ArrayOfCollectionSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CollectionEventID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DiversityService" minOccurs="0" name="child" nillable="true" type="q5:IdentificationUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>