DiversityPhone/Service References/DiversityService/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiversityService.SimpleModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiversityService.SimpleModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSeries" nillable="true" type="tns:EventSeries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSeries" nillable="true" type="tns:ArrayOfEventSeries" />
  <xs:complexType name="EventSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSeries" nillable="true" type="tns:EventSeries" />
</xs:schema>