DiversityPhone/Service References/DiversityService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiversityService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiversityService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bsm5.snsb.info:1111/DiversityService/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://bsm5.snsb.info:1111/DiversityService/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentURI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCredentials" nillable="true" type="tns:UserCredentials" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="ArrayOfRepository">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Repository" nillable="true" type="tns:Repository" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepository" nillable="true" type="tns:ArrayOfRepository" />
  <xs:complexType name="Repository">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Repository" nillable="true" type="tns:Repository" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfTaxonList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxonList" nillable="true" type="tns:TaxonList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxonList" nillable="true" type="tns:ArrayOfTaxonList" />
  <xs:complexType name="TaxonList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxonomicGroup" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxonList" nillable="true" type="tns:TaxonList" />
  <xs:complexType name="ArrayOfTaxonName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxonName" nillable="true" type="tns:TaxonName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxonName" nillable="true" type="tns:ArrayOfTaxonName" />
  <xs:complexType name="TaxonName">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenusOrSupragenic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfraspecificEpithet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpeciesEpithet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Synonymy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxonNameCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxonNameSinAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxonName" nillable="true" type="tns:TaxonName" />
  <xs:complexType name="ArrayOfTerm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Term" nillable="true" type="tns:Term" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerm" nillable="true" type="tns:ArrayOfTerm" />
  <xs:complexType name="Term">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogUpdatedWhen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" type="tns:TermList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Term" nillable="true" type="tns:Term" />
  <xs:simpleType name="TermList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TaxonomicGroups" />
      <xs:enumeration value="RelationshipTypes" />
      <xs:enumeration value="Circumstances" />
      <xs:enumeration value="EventImageTypes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TermList" nillable="true" type="tns:TermList" />
  <xs:complexType name="ArrayOfAnalysisTaxonomicGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalysisTaxonomicGroup" nillable="true" type="tns:AnalysisTaxonomicGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalysisTaxonomicGroup" nillable="true" type="tns:ArrayOfAnalysisTaxonomicGroup" />
  <xs:complexType name="AnalysisTaxonomicGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisID" type="xs:int" />
      <xs:element minOccurs="0" name="TaxonomicGroup" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalysisTaxonomicGroup" nillable="true" type="tns:AnalysisTaxonomicGroup" />
  <xs:complexType name="ArrayOfAnalysis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Analysis" nillable="true" type="tns:Analysis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalysis" nillable="true" type="tns:ArrayOfAnalysis" />
  <xs:complexType name="Analysis">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeasurementUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Analysis" nillable="true" type="tns:Analysis" />
  <xs:complexType name="ArrayOfAnalysisResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalysisResult" nillable="true" type="tns:AnalysisResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalysisResult" nillable="true" type="tns:ArrayOfAnalysisResult" />
  <xs:complexType name="AnalysisResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalysisResult" nillable="true" type="tns:AnalysisResult" />
  <xs:complexType name="ArrayOfPropertyName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyName" nillable="true" type="tns:PropertyName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyName" nillable="true" type="tns:ArrayOfPropertyName" />
  <xs:complexType name="PropertyName">
    <xs:sequence>
      <xs:element minOccurs="0" name="BroaderTermID" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HierarchyCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyID" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyName" nillable="true" type="tns:PropertyName" />
  <xs:complexType name="ArrayOfEventSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSeries" nillable="true" type="tns:EventSeries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSeries" nillable="true" type="tns:ArrayOfEventSeries" />
  <xs:complexType name="EventSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiversityCollectionEventSeriesID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Geography" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogUpdatedWhen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SeriesCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesStart" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSeries" nillable="true" type="tns:EventSeries" />
  <xs:complexType name="HierarchySection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="IdentificationUnitAnalyses" nillable="true" type="tns:ArrayOfIdentificationUnitAnalysis" />
      <xs:element minOccurs="0" name="IdentificationUnits" nillable="true" type="tns:ArrayOfIdentificationUnit" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfCollectionEventProperty" />
      <xs:element minOccurs="0" name="Specimen" nillable="true" type="tns:ArrayOfSpecimen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HierarchySection" nillable="true" type="tns:HierarchySection" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CollectionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeterminationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DiversityCollectionEventID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiversityCollectionSeriesID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EventID" type="xs:int" />
      <xs:element minOccurs="0" name="HabitatDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LocalityDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogUpdatedWhen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SeriesID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfIdentificationUnitAnalysis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentificationUnitAnalysis" nillable="true" type="tns:IdentificationUnitAnalysis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentificationUnitAnalysis" nillable="true" type="tns:ArrayOfIdentificationUnitAnalysis" />
  <xs:complexType name="IdentificationUnitAnalysis">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AnalysisID" type="xs:int" />
      <xs:element minOccurs="0" name="AnalysisResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiversityCollectionUnitID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdentificationUnitAnalysisID" type="xs:int" />
      <xs:element minOccurs="0" name="IdentificationUnitID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentificationUnitAnalysis" nillable="true" type="tns:IdentificationUnitAnalysis" />
  <xs:complexType name="ArrayOfIdentificationUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentificationUnit" nillable="true" type="tns:IdentificationUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentificationUnit" nillable="true" type="tns:ArrayOfIdentificationUnit" />
  <xs:complexType name="IdentificationUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AnalysisDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ColonisedSubstratePart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiversityCollectionRelatedUnitID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiversityCollectionSpecimenID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiversityCollectionUnitID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FamilyCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastIdentificationCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LifeStage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogUpdatedWhen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="OnlyObserved" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedUnitID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RelationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenID" type="xs:int" />
      <xs:element minOccurs="0" name="TaxonomicGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentificationUnit" nillable="true" type="tns:IdentificationUnit" />
  <xs:complexType name="ArrayOfCollectionEventProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionEventProperty" nillable="true" type="tns:CollectionEventProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionEventProperty" nillable="true" type="tns:ArrayOfCollectionEventProperty" />
  <xs:complexType name="CollectionEventProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiversityCollectionEventID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EventID" type="xs:int" />
      <xs:element minOccurs="0" name="LogUpdatedWhen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PropertyID" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyUri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionEventProperty" nillable="true" type="tns:CollectionEventProperty" />
  <xs:complexType name="ArrayOfSpecimen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specimen" nillable="true" type="tns:Specimen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecimen" nillable="true" type="tns:ArrayOfSpecimen" />
  <xs:complexType name="Specimen">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccesionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectionEventID" type="xs:int" />
      <xs:element minOccurs="0" name="CollectionSpecimenID" type="xs:int" />
      <xs:element minOccurs="0" name="DiversityCollectionEventID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiversityCollectionSpecimenID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LogUpdatedWhen" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specimen" nillable="true" type="tns:Specimen" />
  <xs:complexType name="KeyProjection">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="eventKey" type="q1:KeyValuePairOfNullableOfintNullableOfint_ShTDFhl_P" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iuKeys" nillable="true" type="q2:ArrayOfKeyValueOfintint" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="specimenKeys" nillable="true" type="q3:ArrayOfKeyValueOfintint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyProjection" nillable="true" type="tns:KeyProjection" />
</xs:schema>